.center{
 	text-align: center;
	color:#F8F0E3;
}

	body {
	background-image: linear-gradient(90deg, black, #494786, black);;
	color:#F8F0E3;

}

	.games,{
	font-family: 'Brush Script MT', cursive;
	color:#F8F0E3;
	text-align: center;
}

a:link{
color:#F8F0E3;
}

a:visited{
color:#F8F0E3;
}