	.center{
 	text-align: center;
	color:#F8F0E3;
}

	body {
	background-color:#494786;
	color:#F8F0E3;

}

	.games,{
	font-family: 'Brush Script MT', cursive;
	color:#F8F0E3;
	text-align: center;
}

a{
color:#F8F0E3;
}
